name: build

on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.7'
          cache: false

      - name: Checkout
        uses: actions/checkout@v4

      - name: Golangci Lint
        uses: golangci/golangci-lint-action@v9

      - name: Run tests
        run: go test -race

      - name: Check plugin
        run: docker run --rm -v "$PWD/go.sum:/app/go.sum" -w /app krakend:2.13.1 krakend check-plugin -g 1.25.7 -l "MUSL-1.2.5_(alpine-3.23.3)" -s ./go.sum
